body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    margin: 30px auto 0px auto;
    width: 820px;
}

h1 {
    color: black;
    margin: 20px 0px 0px 0px;
    font-size: 1.2em;
    color: #425995;
}

h3 {
    margin: 40px 0px 0px 0px;
    font-size: 1.1em;
    font-style: italic;
}

#logo {
    text-align: center;
}

#logo p{
  display: inline-block;
  width: 70%;
  text-align: left;
}