body {
    position: relative;
    font-family: "Lucida Sans", Helvetica, Arial, sans-serif;
    margin: 30px auto 0px auto;
    width: 820px;
}

h1 {
    color: #999;
    margin: 0px 0px 0px 0px;
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
}

h3 {
    margin: 0px 0px 0px 0px;
    font-size: 1.1em;
    text-decoration: italic;
}

#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    margin-bottom: 20px;
}

#content {
    padding: 0px 0px 0px 225px;
}

.soft {
    color: #aaa;
}

a {
    color: #3D528B;
}

a img {
    border-width: 0px;
}

.bookmarklet {
    background: #ccc;
    padding: 0.5em;
    font-size: 0.8em;
    background: #555;
    color: #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px #444;
}

ol li {
    margin-bottom: 0.7em;
}

.msie-warning-message {
    background-color: #A31914;
    color: #FF5C56;
    padding: 10px;
    margin-bottom: 10px;
    font-style: italic;
}

.donation-box {
    margin-top: 10px;
    width: 200px;
    font-style: italic;
    font-size: 11pt;
    color: #999;
}

.about-section * {
    font-style: italic;
    color: #999;
}

.about-section {
    margin: 40px 0px 40px 0px;
}

.about-section h2 {
    font-size: 1.0em;
}

.about-section p {
    font-size: 0.8em;
}

.newsletter {
    display: block;
    padding: 10px;
    background-color: #ddd;
}

.newsletter label {
    color: #999;
}

.newsletter .message {
    margin-bottom: 10px;
}

.need-help {
    font-size: 0.8em;
    text-align: right;
}

.browser-walkthrough {
    display: block;
    list-style-type: none;
}

.browser-walkthrough li {
    display: block;
    float: left;
    width: 100px;
    height: 110px;
    text-align: center;
    border: 1px solid #999;
    padding: 10px;
    margin: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px #444;
}

.browser-walkthrough li.disabled {
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px #ccc;
}

.browser-walkthrough .disabled img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.browser-walkthrough .enabled .volunteers-needed {
    display: none;
}

.browser-walkthrough .disabled .volunteers-needed {
    display: block;
    color: #999;
    font-size: 9px;
}


.browser-walkthrough li a {
    display: block;
    text-decoration: none;
}

.browser-walkthrough li a .label {
    display: block;
    font-size: 10px;
}

.clearfix {
    display: block;
    clear: both;
}

.answer {
    margin-left: 15px;
}

.go-to-discussions {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin: 50px 0px 80px 0px;
}

